body {
  flex-direction: row;
  flex-wrap: wrap;
  object-fit: stretch;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: absolute;
  background-image: url("/src/images/bg.jpeg");
  width: 100vw !important;
  display: flex;
}
.pageContainer {

    flex-direction: row;
    flex-wrap: wrap;
    width: 100vw;
    height: auto;
    justify-content: space-around;
    background-color: rgba(137, 43, 226, 0.571);
}
.main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100vw;
}
h2 {
    font-size: 3rem;
    color: white;
}
.title{
    width: 100vw;
    height: auto;
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.card-holder {
 
    flex-direction: row !important;
    flex-wrap: wrap;
    width: 100vw;
}
