body {
  flex-direction: row;
  flex-wrap: wrap;
  object-fit: stretch;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: absolute;
  background-image: url("/src/images/bg.jpeg");
  width: 100vw !important;
}
.pageContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100vw;
    max-height: auto;
    justify-content: space-around;
    
}
.main {

    width: 100vw;
}
h2 {
    font-size: 3rem;
    color: white;
}
.title {
    text-align: center;
    font-size: 5em;
}
.overlay {
    background-color: rgba(137, 43, 226, 0.787);
    min-height: 100vh;

}