.productsScreen {
    max-width: 1300px;
    margin: 1rem auto;
}

.productsScreen__title {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.productsScreen__products {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

@media (max-width: 1232px) {
    .productsScreen__products {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 950px) {
    .productsScreen__products {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 630px) {
    .productsScreen__products {
        grid-template-columns: 1fr;
    }
}