.profile {
  max-width: 1300px;
  margin: 1rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile__title {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.profile__note {
  text-align: center;
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
}

.profile__form {
  background: var(--white);
  border-radius: 5px;
  padding: 2rem;
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin-bottom: 1rem;
}

.profile__form > input {
  width: 100%;
  height: 30px;
  margin-bottom: 1rem;
}

.profile__form > button {
  width: 50%;
  font-weight: 700;
  cursor: pointer;
  text-transform: uppercase;
  background: var(--two);
  color: var(--white);
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  border: none;
}

.profile__form > button:hover {
  background: var(--one);
  transition: ease-in-out 0.3s;
}

.user__controls {
    display: flex;
    flex-direction: row;
}

.logBtn {
    width: 180px;
    font-weight: 700;
    cursor: pointer;
    text-transform: uppercase;
    background: var(--two);
    color: var(--white);
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: none;
    margin-left: 1vh;
  }
  
  .logBtn:hover {
    background: var(--one);
    transition: ease-in-out 0.3s;
  }