.homecards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

@media (max-width: 1232px) {
    .homecards {
        grid-template-columns: repeat(3, 1fr);
        
    }
}

@media (max-width: 950px) {
    .hhomecards {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 630px) {
    .homecards {
        grid-template-columns: 1fr;
    }
}