.navbar {
  width: 100vw;
  height: 10vh;
  background-color: var(--one);
  color: var(--white);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1rem;
  z-index: 50;
}

.navbar__logo h2 {
  color: var(--off-white);
  font-size: 1.5rem;
  cursor: pointer;
}

.navbar__links {
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar__links > li {
  padding: 0 1rem 0 1rem;
}

.navbar__links > li > a {
  text-decoration: none;
  color: var(--three);
  font-size: 1.2rem;
  display: flex;
  align-items: center;
}

.navbar a:hover {
  color: var(--four);
}

.navbar__links > li > a > span {
  display: flex;
  align-items: center;
  margin: 0 0.5rem 0;
  color: var(--three);
}

.navbar__links > li > a > span:hover {
  color: var(--one);
}

.cart__link {
  background: var(--two);
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.cart__link:hover {
  background: var(--three);
  color: var(--two);
  transition: ease-in-out 0.2s;
}

.cart__pill {
  width: 2rem;
  height: 2rem;
  background: var(--one);
  color: var(--three);
  margin-left: 0.5rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1rem;
}

#cart__icon {
  margin-right: 0.5rem;
}

.hamburger__menu {
  width: 2rem;
  height: 2rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.hamburger__menu > div {
  width: 100%;
  height: 0.2rem;
  background: var(--three);
}

.hamburger__menu:hover > div {
  background: var(--four);
}

@media (max-width: 960px) {
    .navbar__links {
        display: none;
    }
    .hamburger__menu {
        display: flex;
    }
}

@media (max-width: 500px) {
  .navbar__logo h2 {
    font-size: 1rem;
  }
}

