.stockBox {
  width: 300px;
  padding: 1rem;
  background: var(--white);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
  margin: 8px auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.stockBox > img {
  width: 100%;
  height: auto;
  border-radius: 5px;
  margin-bottom: 8px;
}

.stockBox__info > p {
  margin-bottom: 8px;
  text-align: center;
}

.stockBox__name {
  font-size: 1rem;
  overflow: hidden;
  text-transform: uppercase;
  font-weight: 700;
  color: var(--one);
}

.stockBox__description {
  font-size: 0.8rem;
}

.stockBox__price {
  font-weight: 700;
}

.cart__button {
  width: 100%;
  font-weight: 700;
  cursor: pointer;
  text-transform: uppercase;
  background: var(--two);
  color: var(--white);
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  border: none;
}

.cart__button:hover {
  background: var(--one);
  transition: ease-in-out 0.3s;
}

.stockBoxinfo__link {
  display: block;
  width: 100%;
  text-align: center;
  color: var(--one);
  padding: 8px 16px;
  font-size: 1rem;
  text-decoration: none;
  cursor: pointer;
}

.stockBoxinfo__link:hover {
  color: var(--four);
}

@media (max-width: 1232px) {
  .stockBox {
    width: 350px;
  }
}
@media (max-width: 1115px) {
  .stockBox {
    width: 330px;
  }
}
@media (max-width: 1028px) {
  .stockBox {
    width: 300px;
  }
}
@media (max-width: 950px) {
  .stockBox {
    width: 400px;
  }
}

@media (max-width: 830px) {
  .stockBox {
    width: 330px;
  }
}

@media (max-width: 700px) {
  .stockBox {
    width: 290px;
  }
}
@media (max-width: 630px) {
  .stockBox {
    width: 450px;
  }
}
@media (max-width: 500px) {
  .stockBox {
    width: 350px;
  }
}
@media (max-width: 400px) {
  .stockBox {
    width: 300px;
  }
}