
.stock{
  max-width: 20vw;
  /* box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px; */
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  padding: 1vh 2vw 1vh 1vw;
  align-items: center;
  align-content: center;
  list-style: none;
  margin: 1vh 1vw 1vh 1vw;
  text-align: center;
  background-color: rgba(0, 128, 128, 0.9);
  
 
}
.cardName{
  font-weight: bolder;
  color: white;
}
p {
  margin: 1vh;
}
img {
  margin: 1vh;
 
}
.price{
  color: white;
}
