/* GLOBAL STYLING */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  /* Global Colour Declarations */
  --one: #0081a7;
  --white: #ffffffff;
  --two: #00afb9;
  --three: #fed9b7;
  --four: #f07167;
  --off-white: #eeeded;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--off-white);
}

img {
  width: 100%;
  object-fit: contain;
}
