/* GLOBAL STYLING */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  /* Global Colour Declarations */
  --dark-turquoise: #25ced1ff;
  --white: #ffffffff;
  --linen: #fceadeff;
  --coral: #ff8a5bff;
  --paradise-pink: #ea526fff;
  --off-white: #eeeded;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--off-white);
 
}

img {
  width: 100%;
  object-fit: contain;
}
